
.jumbo__section {
  position: relative;
  background-color: #FC477A;
  @media screen and (min-width:768px) {
  // Absolutely positioning another div works better than using a background image.
  //  background-image: url('/images/hero_image-min.jpg');
  //  background-repeat: no-repeat;
  //  background-position: 100px center;
  //  background-size: cover;
  min-height: 549px;
  }
  @media screen and (min-width: 992px) {
    //background-position: right center;
      min-height: 649px;
  }
  .jumbo__wrapper {
    position:relative;
    z-index: 10;
    padding: 4rem 2rem;
    @media screen and (min-width: 560px) {
        padding: 4rem 0;
        max-width: 50%;
    }
    @media screen and (min-width: 768px) {
        padding: 8rem 0 4rem 0;
        max-width: 65%;
    }
    @media screen and (min-width: 992px) {
        padding: 12rem 0 6rem 0;
        max-width: 75%;
    }
  }
  .jumbo__title {
    color: $white;
  }
  .jumbo__text {
    padding-top: 4rem;
    font-size: 1.375rem;
    font-weight: 400;
    color: $black;
    @media screen and (min-width: 768px) {
        padding-top: 8.4rem;
        max-width: 75%;
    }
  }
  .jumbo__image img {
    display:none;
    @media screen and (min-width: 560px) {
      position: absolute;
      height: 100%;
      top: 0;
      right: -15%;
      margin: 0 auto;
      display: block;
    }
    @media screen and (min-width: 1200px) {
        right: -5%;
    }
  }
}