<section class="grid-cards">
        <div class="container">
          <div class="grid-cards__container">
            <div class="grid-cards__card div1">
              <a href="#">
                <div class="grid-cards__card-text">
                  <h3>Leadership Development</h3>
                  <p>Leading with Vision</p>
                </div>
              </a>
            </div>

            <div class="grid-cards__card div2">
              <a href="#">
                <div class="grid-cards__card-text">
                  <h3>Technology &amp; Development</h3>
                  <p>Developer</p>
                </div>
              </a>
            </div>
            <div class="grid-cards__card div3">
              <a href="#">
                <div class="grid-cards__card-text">
                  <h3>Compliance</h3>
                  <p>Work Place Harassment Training</p>
                </div>
              </a>
            </div>
            <div class="grid-cards__card div4">
              <a href="#">
                <div class="grid-cards__card-text">
                  <h3>Technology &amp; Development</h3>
                  <p>Security</p>
                </div>
              </a>
            </div>
            <div class="grid-cards__card div5">
              <a href="#">
                <div class="grid-cards__card-text">
                  <h3>Leadership Development</h3>
                  <p>Management Essentials</p>
                </div>
              </a>
            </div>
            <div class="grid-cards__card div6">
              <a href="#">
                <div class="grid-cards__card-text">
                  <h3>Compliance</h3>
                  <p>Compliance Training for the Federal Government</p>
                </div>
              </a>
            </div>

          </div>

        </div>
      </section>