
<div class="jumbo__section">
  <div class="container">
    <div class="jumbo__wrapper">
      <h1 class="jumbo__title">
        <%= hero.title %>
      </h1>
      <div class="jumbo__text">
        <p><%= hero.text %></p> 
      </div>
    </div>

    <div class="jumbo__image">
      <img src="/images/hero_image-corrected-min.jpg" alt="<%= hero.imageAlt %>">
    </div>
  </div>

</div>